@page
@model RazorPagesLabA1.Pages.CustomerFormModel
@{
    var customerinfor = Model.customerInfor;
    if(customerinfor != null)
    {
        <h3>@Model.Message</h3>
        <div asp-validation-summary="All"></div> if(ModelState.IsValid){
            <div class="card">
                <div class="card-body">
                    <p><strong>Customer name:</strong> @customerinfor.CustomerName</p>
                    <p><strong>Customer email:</strong> @customerinfor.CustomerEmail</p>
                    <p><strong>Year Of Birth:</strong> @customerinfor.YearOfBirth</p>
                </div>
            </div>
        }
    }
}

<h3>Customer infomation</h3>

<form method="post" class="m-2 p-3 bg-light">
    <div class="form-group">
        <label asp-for="@customerinfor.CustomerName"></label>
        <input class="form-control" asp-for="@customerinfor.CustomerName" />
        <span asp-validation-for="@customerinfor.CustomerName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@customerinfor.CustomerEmail"></label>
        <input class="form-control" asp-for="@customerinfor.CustomerEmail" />
        <span asp-validation-for="@customerinfor.CustomerEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@customerinfor.YearOfBirth"></label>
        <input class="form-control" asp-for="@customerinfor.YearOfBirth" />
        <span asp-validation-for="@customerinfor.YearOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" asp-page="Form">Send</button>
    </div>
</form>